absl-py==1.3.0
adapter-transformers==3.2.1
affine==2.4.0
aiohttp==3.8.3
aiosignal==1.3.1
alembic @ file:///home/conda/feedstock_root/build_artifacts/alembic_1678309044210/work
altair==4.2.2
anyio @ file:///home/conda/feedstock_root/build_artifacts/anyio_1666191106763/work/dist
appnope @ file:///home/conda/feedstock_root/build_artifacts/appnope_1649077682618/work
argon2-cffi @ file:///home/conda/feedstock_root/build_artifacts/argon2-cffi_1640817743617/work
argon2-cffi-bindings @ file:///Users/runner/miniforge3/conda-bld/argon2-cffi-bindings_1666850813776/work
arrow==1.2.3
asgiref==3.6.0
asttokens @ file:///home/conda/feedstock_root/build_artifacts/asttokens_1670263926556/work
astunparse==1.6.3
async-timeout==4.0.2
attrs @ file:///home/conda/feedstock_root/build_artifacts/attrs_1671632566681/work
autopep8 @ file:///home/conda/feedstock_root/build_artifacts/autopep8_1677845287175/work
backcall @ file:///home/conda/feedstock_root/build_artifacts/backcall_1592338393461/work
backports.functools-lru-cache @ file:///home/conda/feedstock_root/build_artifacts/backports.functools_lru_cache_1618230623929/work
bayesian-optimization @ file:///home/conda/feedstock_root/build_artifacts/bayesian-optimization_1674463523989/work
be-great==0.0.3
beautifulsoup4 @ file:///home/conda/feedstock_root/build_artifacts/beautifulsoup4_1675252249248/work
bleach @ file:///home/conda/feedstock_root/build_artifacts/bleach_1674535352125/work
blinker==1.6.2
blis @ file:///Users/runner/miniforge3/conda-bld/cython-blis_1668499200602/work
boto3 @ file:///home/conda/feedstock_root/build_artifacts/boto3_1678971484649/work
botocore @ file:///home/conda/feedstock_root/build_artifacts/botocore_1679013519858/work
branca @ file:///home/conda/feedstock_root/build_artifacts/branca_1667848736831/work
brotlipy @ file:///Users/runner/miniforge3/conda-bld/brotlipy_1666764759924/work
cached-property @ file:///home/conda/feedstock_root/build_artifacts/cached_property_1615209429212/work
cachetools==5.2.0
catalogue @ file:///Users/runner/miniforge3/conda-bld/catalogue_1666891976332/work
catboost==1.1.1
certifi==2022.12.7
cffi @ file:///Users/runner/miniforge3/conda-bld/cffi_1671179893800/work
chardet==4.0.0
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1661170624537/work
chex==0.1.6
click==8.1.3
click-plugins==1.1.1
cligj==0.7.2
cloudpickle @ file:///home/conda/feedstock_root/build_artifacts/cloudpickle_1674202310934/work
cmaes @ file:///home/conda/feedstock_root/build_artifacts/cmaes_1673007708181/work
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1666700638685/work
colorlog==6.7.0
colour==0.1.5
comm @ file:///home/conda/feedstock_root/build_artifacts/comm_1670575068857/work
computer==1.0.0
confection @ file:///Users/runner/miniforge3/conda-bld/confection_1673621605152/work
contourpy @ file:///Users/runner/miniforge3/conda-bld/contourpy_1673633760692/work
cryptography @ file:///Users/runner/miniforge3/conda-bld/cryptography-split_1677821374538/work
cycler @ file:///home/conda/feedstock_root/build_artifacts/cycler_1635519461629/work
cymem @ file:///Users/runner/miniforge3/conda-bld/cymem_1666918688507/work
d2l==0.17.6
dask==2022.10.2
databricks-cli==0.17.6
dataclasses @ file:///home/conda/feedstock_root/build_artifacts/dataclasses_1628958434797/work
datasets==2.9.0
debugpy @ file:///Users/runner/miniforge3/conda-bld/debugpy_1674522452033/work
decorator @ file:///home/conda/feedstock_root/build_artifacts/decorator_1641555617451/work
defusedxml @ file:///home/conda/feedstock_root/build_artifacts/defusedxml_1615232257335/work
dill @ file:///home/conda/feedstock_root/build_artifacts/dill_1666603105584/work
Django==4.2
djangorestframework==3.14.0
dm-tree==0.1.8
docker==6.0.1
docutils==0.19
dtreeviz @ file:///Users/runner/miniforge3/conda-bld/dtreeviz_1672209243449/work
eli5==0.13.0
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.5.0/en_core_web_sm-3.5.0-py3-none-any.whl
entrypoints @ file:///home/conda/feedstock_root/build_artifacts/entrypoints_1643888246732/work
et-xmlfile @ file:///home/conda/feedstock_root/build_artifacts/et_xmlfile_1674664118162/work
etils==0.9.0
exceptiongroup @ file:///home/conda/feedstock_root/build_artifacts/exceptiongroup_1678703645500/work
executing @ file:///home/conda/feedstock_root/build_artifacts/executing_1667317341051/work
fajita==0.0.2
fast-ml==3.68
fastapi==0.95.0
fastjsonschema @ file:///home/conda/feedstock_root/build_artifacts/python-fastjsonschema_1677336799617/work/dist
fasttext==0.9.2
filelock @ file:///home/conda/feedstock_root/build_artifacts/filelock_1678939952853/work
findspark @ file:///home/conda/feedstock_root/build_artifacts/findspark_1644599740637/work
Flask==2.3.1
flatbuffers==22.10.26
flax==0.6.4
flit_core @ file:///home/conda/feedstock_root/build_artifacts/flit-core_1667734568827/work/source/flit_core
folium==0.14.0
fonttools @ file:///Users/runner/miniforge3/conda-bld/fonttools_1678999965778/work
fqdn==1.5.1
frozenlist==1.3.3
fsspec==2022.10.0
funcy==2.0
future==0.18.3
gast==0.4.0
gensim @ file:///Users/runner/miniforge3/conda-bld/gensim_1671629336074/work
gitdb==4.0.10
GitPython==3.1.31
gmpy2 @ file:///Users/runner/miniforge3/conda-bld/gmpy2_1666808753481/work
goatools @ file:///opt/conda/conda-bld/goatools_1659831752154/work
google-auth==2.13.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
googleapis-common-protos==1.56.4
graphviz @ file:///home/conda/feedstock_root/build_artifacts/python-graphviz_1658658635601/work
greenlet @ file:///Users/runner/miniforge3/conda-bld/greenlet_1674937749146/work
grpcio @ file:///Users/runner/miniforge3/conda-bld/grpcio_1653138968159/work
gunicorn==20.1.0
h11==0.14.0
h5py @ file:///Users/runner/miniforge3/conda-bld/h5py_1637964553571/work
huggingface-hub @ file:///home/conda/feedstock_root/build_artifacts/huggingface_hub_1678382003022/work
idna==2.10
imbalanced-learn==0.10.1
imblearn==0.0
importlib-metadata @ file:///home/conda/feedstock_root/build_artifacts/importlib-metadata_1672612343532/work
importlib-resources @ file:///home/conda/feedstock_root/build_artifacts/importlib_resources_1676919000169/work
iniconfig @ file:///home/conda/feedstock_root/build_artifacts/iniconfig_1673103042956/work
ipykernel @ file:///Users/runner/miniforge3/conda-bld/ipykernel_1676324664952/work
ipyleaflet @ file:///home/conda/feedstock_root/build_artifacts/ipyleaflet_1666182640716/work
ipyparallel==8.4.1
ipython @ file:///Users/runner/miniforge3/conda-bld/ipython_1677617314627/work
ipython-genutils==0.2.0
ipywidgets @ file:///home/conda/feedstock_root/build_artifacts/ipywidgets_1671720089366/work
isoduration==20.11.0
itsdangerous==2.1.2
jax==0.4.4
jaxlib==0.4.4
jedi @ file:///home/conda/feedstock_root/build_artifacts/jedi_1669134318875/work
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/jinja2_1654302431367/work
jmespath @ file:///home/conda/feedstock_root/build_artifacts/jmespath_1655568249366/work
joblib @ file:///home/conda/feedstock_root/build_artifacts/joblib_1663332044897/work
jsonpointer==2.3
jsonschema @ file:///home/conda/feedstock_root/build_artifacts/jsonschema-meta_1669810440410/work
jupyter @ file:///Users/runner/miniforge3/conda-bld/jupyter_1637233273421/work
jupyter-console @ file:///home/conda/feedstock_root/build_artifacts/jupyter_console_1678118109161/work
jupyter-events @ file:///home/conda/feedstock_root/build_artifacts/jupyter_events_1673559782596/work
jupyter_client @ file:///home/conda/feedstock_root/build_artifacts/jupyter_client_1676579893731/work
jupyter_core @ file:///Users/runner/miniforge3/conda-bld/jupyter_core_1678994238709/work
jupyter_server @ file:///home/conda/feedstock_root/build_artifacts/jupyter_server_1678142344517/work
jupyter_server_terminals @ file:///home/conda/feedstock_root/build_artifacts/jupyter_server_terminals_1673491454549/work
jupyterlab-pygments @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_pygments_1649936611996/work
jupyterlab-widgets @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_widgets_1671722028097/work
keras==2.10.0
Keras-Preprocessing==1.1.2
keras-tuner==1.1.3
kiwisolver @ file:///Users/runner/miniforge3/conda-bld/kiwisolver_1666805765141/work
kt-legacy==1.0.4
langcodes @ file:///home/conda/feedstock_root/build_artifacts/langcodes_1636741340529/work
libclang==14.0.6
lightgbm @ file:///Users/runner/miniforge3/conda-bld/lightgbm_1666917279858/work
llvmlite==0.39.1
locket==1.0.0
lxml==4.9.2
Mako @ file:///home/conda/feedstock_root/build_artifacts/mako_1668568582731/work
Markdown==3.4.1
markdown-it-py @ file:///home/conda/feedstock_root/build_artifacts/markdown-it-py_1677100944732/work
MarkupSafe @ file:///Users/runner/miniforge3/conda-bld/markupsafe_1674135859696/work
matplotlib==3.6.0
matplotlib-inline @ file:///home/conda/feedstock_root/build_artifacts/matplotlib-inline_1660814786464/work
mdurl @ file:///home/conda/feedstock_root/build_artifacts/mdurl_1639515908913/work
mistune @ file:///home/conda/feedstock_root/build_artifacts/mistune_1675771498296/work
mlflow==2.3.0
mlxtend==0.21.0
more-itertools==9.1.0
mpmath @ file:///home/conda/feedstock_root/build_artifacts/mpmath_1678228039184/work
msgpack==1.0.4
multidict==6.0.4
multiprocess @ file:///Users/runner/miniforge3/conda-bld/multiprocess_1666932956924/work
munkres==1.1.4
murmurhash @ file:///Users/runner/miniforge3/conda-bld/murmurhash_1666946310173/work
nbclassic @ file:///home/conda/feedstock_root/build_artifacts/nbclassic_1678277563913/work
nbclient @ file:///home/conda/feedstock_root/build_artifacts/nbclient_1669795076334/work
nbconvert @ file:///home/conda/feedstock_root/build_artifacts/nbconvert-meta_1674590374792/work
nbformat @ file:///home/conda/feedstock_root/build_artifacts/nbformat_1673560067442/work
nest-asyncio @ file:///home/conda/feedstock_root/build_artifacts/nest-asyncio_1664684991461/work
networkx @ file:///home/conda/feedstock_root/build_artifacts/networkx_1673151334029/work
nlpaug @ file:///home/conda/feedstock_root/build_artifacts/nlpaug_1624887595002/work
nltk==3.7
notebook @ file:///home/conda/feedstock_root/build_artifacts/notebook_1678109761260/work
notebook_shim @ file:///home/conda/feedstock_root/build_artifacts/notebook-shim_1667478401171/work
numba @ file:///Users/runner/miniforge3/conda-bld/numba_1669104065572/work
numexpr==2.8.4
numpy==1.24.2
oauthlib==3.2.2
odc-geo==0.3.3
odc-stac==0.3.5
openpyxl==3.1.1
opt-einsum==3.3.0
optax==0.1.4
optuna @ file:///home/conda/feedstock_root/build_artifacts/optuna_1674178063556/work
orbax==0.1.1
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1673482170163/work
pandas==1.5.3
pandocfilters @ file:///home/conda/feedstock_root/build_artifacts/pandocfilters_1631603243851/work
parso @ file:///home/conda/feedstock_root/build_artifacts/parso_1638334955874/work
partd==1.3.0
pathos @ file:///home/conda/feedstock_root/build_artifacts/pathos_1666612980302/work
pathy @ file:///home/conda/feedstock_root/build_artifacts/pathy_1670689864140/work
patsy @ file:///home/conda/feedstock_root/build_artifacts/patsy_1665356157073/work
pexpect @ file:///home/conda/feedstock_root/build_artifacts/pexpect_1667297516076/work
pickleshare @ file:///home/conda/feedstock_root/build_artifacts/pickleshare_1602536217715/work
Pillow @ file:///Users/runner/miniforge3/conda-bld/pillow_1675487373585/work
pkgutil_resolve_name @ file:///home/conda/feedstock_root/build_artifacts/pkgutil-resolve-name_1633981968097/work
planetary==0.131
planetary-computer==0.4.9
platformdirs @ file:///home/conda/feedstock_root/build_artifacts/platformdirs_1678652433955/work
plotly @ file:///home/conda/feedstock_root/build_artifacts/plotly_1667059769663/work
plotly-geo==1.0.0
pluggy @ file:///home/conda/feedstock_root/build_artifacts/pluggy_1667232663820/work
polars==0.16.6
pooch @ file:///home/conda/feedstock_root/build_artifacts/pooch_1677600624926/work
portalocker==2.7.0
pox @ file:///home/conda/feedstock_root/build_artifacts/pox_1666592868822/work
ppft @ file:///home/conda/feedstock_root/build_artifacts/ppft_1666592874911/work
preshed @ file:///Users/runner/miniforge3/conda-bld/preshed_1666991318984/work
prometheus-client @ file:///home/conda/feedstock_root/build_artifacts/prometheus_client_1674535637125/work
promise==2.3
prompt-toolkit @ file:///home/conda/feedstock_root/build_artifacts/prompt-toolkit_1677600924538/work
protobuf==3.19.4
protobuf3-to-dict @ file:///Users/runner/miniforge3/conda-bld/protobuf3-to-dict_1667050740306/work
psutil @ file:///Users/runner/miniforge3/conda-bld/psutil_1667886128069/work
ptyprocess @ file:///home/conda/feedstock_root/build_artifacts/ptyprocess_1609419310487/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl
pure-eval @ file:///home/conda/feedstock_root/build_artifacts/pure_eval_1642875951954/work
pyaml @ file:///home/conda/feedstock_root/build_artifacts/pyaml_1645030574202/work
pyarrow==11.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pybind11==2.10.3
pycodestyle @ file:///home/conda/feedstock_root/build_artifacts/pycodestyle_1669306857274/work
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1636257122734/work
pydantic @ file:///Users/runner/miniforge3/conda-bld/pydantic_1678316298173/work
pydeck==0.8.0
pydot @ file:///Users/runner/miniforge3/conda-bld/pydot_1666825704281/work
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1672682006896/work
pygraphviz @ file:///Users/runner/miniforge3/conda-bld/pygraphviz_1666964762553/work
PyJWT==2.6.0
pyLDAvis==2.1.2
Pympler==1.0.1
pyOpenSSL @ file:///home/conda/feedstock_root/build_artifacts/pyopenssl_1672659226110/work
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/pyparsing_1652235407899/work
PyPDF2==2.11.1
pyproj==3.4.1
pyrsistent @ file:///Users/runner/miniforge3/conda-bld/pyrsistent_1672681537313/work
PySocks @ file:///home/conda/feedstock_root/build_artifacts/pysocks_1661604839144/work
pystac @ file:///home/conda/feedstock_root/build_artifacts/pystac_1659033044414/work
pystac-client==0.6.0
pytest==7.2.2
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1626286286081/work
python-dotenv==0.21.1
python-json-logger @ file:///home/conda/feedstock_root/build_artifacts/python-json-logger_1677079630776/work
pytils==0.4.1
pytorch-transformers==1.2.0
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1673864280276/work
pytz-deprecation-shim==0.1.0.post0
PyYAML @ file:///Users/runner/miniforge3/conda-bld/pyyaml_1666772543719/work
pyzmq @ file:///Users/runner/miniforge3/conda-bld/pyzmq_1678776995287/work
qtconsole==5.4.1
QtPy==2.3.0
querystring-parser==1.2.4
rasterio==1.3.5.post1
-e git+https://github.com/tomquirk/realestate-com-au-api.git@8cf42856ca610c8bc4124c818b67ad1c018e6d5a#egg=realestate_com_au_api
regex @ file:///Users/runner/miniforge3/conda-bld/regex_1667265315676/work
requestes==0.0.1
requests==2.28.2
requests-oauthlib==1.3.1
responses==0.18.0
rfc3339-validator @ file:///home/conda/feedstock_root/build_artifacts/rfc3339-validator_1638811747357/work
rfc3986-validator @ file:///home/conda/feedstock_root/build_artifacts/rfc3986-validator_1598024191506/work
rich @ file:///home/conda/feedstock_root/build_artifacts/rich-split_1674920581967/work/dist
rsa==4.9
s3transfer @ file:///home/conda/feedstock_root/build_artifacts/s3transfer_1654039987929/work
sacremoses==0.0.53
sagemaker @ file:///home/conda/feedstock_root/build_artifacts/sagemaker_1644309906392/work
scikeras==0.9.0
scikit-learn @ file:///Users/runner/miniforge3/conda-bld/scikit-learn_1678356699085/work
scikit-optimize @ file:///home/conda/feedstock_root/build_artifacts/scikit-optimize_1639544373814/work
scikit-surprise==1.1.3
scipy==1.10.1
seaborn==0.12.1
semver==2.13.0
Send2Trash @ file:///home/conda/feedstock_root/build_artifacts/send2trash_1628511208346/work
sentencepiece==0.1.97
shap @ file:///Users/runner/miniforge3/conda-bld/shap_1655717002181/work
shapely==2.0.1
shellingham @ file:///home/conda/feedstock_root/build_artifacts/shellingham_1676292972954/work
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
sklearn==0.0
slicer @ file:///home/conda/feedstock_root/build_artifacts/slicer_1608146800664/work
smart-open @ file:///home/conda/feedstock_root/build_artifacts/smart_open_1630238320325/work
smdebug-rulesconfig @ file:///home/conda/feedstock_root/build_artifacts/smdebug-rulesconfig_1619805148199/work
smmap==5.0.0
sniffio @ file:///home/conda/feedstock_root/build_artifacts/sniffio_1662051266223/work
snorkel==0.9.9
snuggs==1.4.7
sort-dataframeby-monthorweek==0.4
sorted-months-weekdays==0.2
soupsieve @ file:///home/conda/feedstock_root/build_artifacts/soupsieve_1658207591808/work
spacy @ file:///Users/runner/miniforge3/conda-bld/spacy_1674544556152/work
spacy-legacy @ file:///home/conda/feedstock_root/build_artifacts/spacy-legacy_1674550301837/work
spacy-loggers @ file:///home/conda/feedstock_root/build_artifacts/spacy-loggers_1672303484730/work
SQLAlchemy @ file:///Users/runner/miniforge3/conda-bld/sqlalchemy_1678748932806/work
sqlparse==0.4.4
srsly @ file:///Users/runner/miniforge3/conda-bld/srsly_1677657718838/work
stack-data @ file:///home/conda/feedstock_root/build_artifacts/stack_data_1669632077133/work
starlette==0.26.1
statistics==1.0.3.5
statsmodels @ file:///Users/runner/miniforge3/conda-bld/statsmodels_1667586087434/work
streamlit==1.20.0
sympy @ file:///Users/runner/miniforge3/conda-bld/sympy_1666835454924/work
tabulate==0.9.0
tenacity @ file:///home/conda/feedstock_root/build_artifacts/tenacity_1677600641219/work
tensorboard==2.10.1
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorboardX==2.6
tensorflow-datasets==4.7.0
tensorflow-estimator==2.10.0
tensorflow-macos==2.10.0
tensorflow-metadata==1.10.0
tensorstore==0.1.32
termcolor==2.0.1
terminado @ file:///Users/runner/miniforge3/conda-bld/terminado_1670254106711/work
thinc @ file:///Users/runner/miniforge3/conda-bld/thinc_1678303030790/work
threadpoolctl @ file:///home/conda/feedstock_root/build_artifacts/threadpoolctl_1643647933166/work
tinycss2 @ file:///home/conda/feedstock_root/build_artifacts/tinycss2_1666100256010/work
tokenization==1.0.7
tokenizers @ file:///Users/runner/miniforge3/conda-bld/tokenizers_1674690937327/work/bindings/python
toml==0.10.2
tomli @ file:///home/conda/feedstock_root/build_artifacts/tomli_1644342247877/work
tools==0.1.9
toolz @ file:///home/conda/feedstock_root/build_artifacts/toolz_1657485559105/work
torch==2.0.0
torch-summary==1.4.5
torchaudio==2.0.0.dev20230309
torchdata==0.6.0
torchtext==0.15.1
torchvision==0.15.0.dev20230309
tornado @ file:///Users/runner/miniforge3/conda-bld/tornado_1666788685513/work
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1677948868469/work
traitlets @ file:///home/conda/feedstock_root/build_artifacts/traitlets_1675110562325/work
traittypes @ file:///home/conda/feedstock_root/build_artifacts/traittypes_1600843364635/work
transformers==4.27.2
typer @ file:///home/conda/feedstock_root/build_artifacts/typer_1657029164904/work
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1678559861143/work
tzdata==2022.7
tzlocal==4.3
unicodedata2 @ file:///Users/runner/miniforge3/conda-bld/unicodedata2_1667239979860/work
uri-template==1.2.0
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1678635778344/work
uvicorn==0.21.1
validators==0.20.0
wasabi @ file:///Users/runner/miniforge3/conda-bld/wasabi_1673946074681/work
wcwidth @ file:///home/conda/feedstock_root/build_artifacts/wcwidth_1673864653149/work
webcolors==1.12
webencodings==0.5.1
websocket-client @ file:///home/conda/feedstock_root/build_artifacts/websocket-client_1675567828044/work
Werkzeug==2.3.0
wget==3.2
widgetsnbextension @ file:///home/conda/feedstock_root/build_artifacts/widgetsnbextension_1672066693230/work
wordcloud @ file:///Users/runner/miniforge3/conda-bld/wordcloud_1661463893146/work
wrapt==1.14.1
xarray==2023.1.0
xgboost==1.7.1
XlsxWriter @ file:///home/conda/feedstock_root/build_artifacts/xlsxwriter_1678748950623/work
xxhash==3.2.0
xyzservices @ file:///home/conda/feedstock_root/build_artifacts/xyzservices_1676835466992/work
yarl==1.8.2
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1677313463193/work
