name: Django CI

on:
  push:
    branches: [ "Deply" ]

jobs:
  build:

    runs-on: self-hosted
    strategy:
      max-parallel: 4
      matrix:
        python-version: [3.11]

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install Dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
    - name: Migrate set up
      run: |
        python manage.py makemigrations
        python manage.py migrate
    - name: Run Backend
      run: |
        nohup python manage.py runserver 0.0.0.0:$PORT > /dev/null 2>&1 &
